.jumbotron
{
	background-color: black;
	color: white;
	text-align: center;
}
#heading
{
	background-color: blue;
	color:white;
}
#form-heading
{
	background: blue;
	color: white;
	padding:3px;
	padding-left: 8px;
	
	/*font-size: 12px;*/
}
.form-control,
#submitbutton
{
	margin:10px;
}

.styling
{
	margin-left: 10px;
}

#submitbutton
{
	background-color: blue;
}
